:root {
    color-scheme: light dark;
}

body {
    background-color: #f0f0f0;
    margin: 20px;
    width: 350px;
    padding: 0px 15px;
    margin: 0 auto;
    color: #000;
}

#title {
    font: -apple-system-title1;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 0;
}

#description {
    font: -apple-system-body;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 0;
}

#footnote {
    font: -apple-system-footnote;
    color: #575757;
}

.app-icon {
    margin-top: 25px;
    margin-bottom: 15px;
    max-width: 100px;
    -webkit-animation: rotation 5s infinite;
    -webkit-animation-direction: alternate;
    pointer-events:none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(50deg);
  }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #1c1c1e;
    }
    
    #footnote {
        color: #99989d;
    }
}
