:root {
    color-scheme: light dark;
}

body {
    background-color: #f0f0f0;
    margin: 20px;
    width: 350px;
    padding: 0px 15px;
    margin: 0 auto;
    color: #000;
}

button {
    background-color: #fff;
    text-decoration: none;
    text-align: left;
    border-radius: 15px;
    padding: 14px 20px 14px 20px;
    font: -apple-system-body;
    cursor: pointer;
    color: #3496FF;
    width: calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: url("chevron.svg");
    background-size: 8.48px 15px;
}

button:hover {
    background-color: #f9f9f9;
}

button:focus {
    outline: #3496FF 5px auto;
}

#title {
    font: -apple-system-title1;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 0;
}

#footnote {
    font: -apple-system-footnote;
    padding-left: 10px;
    padding-right: 10px;
    color: #575757;
}

.app-icon {
    margin: 10px;
    margin-bottom: 30px;
    max-width: 70px;
    -webkit-animation: rotation 2s infinite;
    -webkit-animation-direction: alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(25deg);
  }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #1c1c1e;
    }
    
    #footnote {
        color: #99989d;
    }
    
    button {
        background-color: #2c2c2e;
    }
    
    button:hover {
        background-color: #464647;
    }
}
